Repository Bit-Quill/valkey-glide, pull requests merged in 2024-06, with the labels that each got.

#346 Java: add DBSIZE command
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java, command

#348 Java: Update `ZUNION` and `ZINTER` and tests.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#345 Node: added OBJECT FREQ command
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
Labels: node, command

#350 Java: Handle binary strings from GLIDE
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/models/GlideString.java
  java/client/src/main/java/glide/managers/BaseCommandResponseResolver.java
  java/client/src/main/java/glide/managers/CommandManager.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/integTest/src/test/java/glide/SharedClientTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/src/lib.rs
Labels: java, rust

#359 Java: Add the `XGROUP CREATE` and `XGROUP DESTROY` commands
  glide-core/src/client/value_conversion.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamGroupOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#361 Node: change object command names to follow camel-case
  node/src/BaseClient.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/RedisClusterClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#357 Java: implement LPOS
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/ListBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/LPosOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#365 Java: Add `FCALL_RO` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsBaseCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsClusterCommands.java
  java/client/src/main/java/glide/api/commands/ScriptingAndFunctionsCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java, command

#366 Java: Add `FLUSHDB` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/FlushMode.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java, command

#374 Java: implement GETEX
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StringBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/GetExOptions.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java, command

#376 Java: Add the `XREADGROUP` command
  glide-core/src/client/value_conversion.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/StreamBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamReadGroupOptions.java
  java/client/src/main/java/glide/api/models/commands/stream/StreamReadOptions.java
  java/client/src/main/java/glide/utils/ArrayTransformUtils.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java, command

#383 Python: Added COPY command
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python, command

#334 Java: Add DEVELOPER.md
  java/DEVELOPER.md
Labels: documentation, java

#387 Python: Add LOLWUT command
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python, command

#390 Java: Fix flaky IT.
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#381 Java: Add client configuration for subscribing to channels.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/models/configuration/BackoffStrategy.java
  java/client/src/main/java/glide/api/models/configuration/BaseSubscriptionConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/ClusterSubscriptionConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/NodeAddress.java
  java/client/src/main/java/glide/api/models/configuration/RedisClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/RedisClusterClientConfiguration.java
  java/client/src/main/java/glide/api/models/configuration/RedisCredentials.java
  java/client/src/main/java/glide/api/models/configuration/StandaloneSubscriptionConfiguration.java
  java/client/src/main/java/glide/connectors/handlers/CallbackDispatcher.java
  java/client/src/main/java/glide/managers/ConnectionManager.java
  java/client/src/test/java/glide/managers/ConnectionManagerTest.java
  java/src/lib.rs
Labels: java

#391 Add `PUBLISH` and `SPUBLISH` commands.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/PubSubBaseCommands.java
  java/client/src/main/java/glide/api/commands/PubSubClusterCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/ClusterTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/ClusterTransactionTests.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
Labels: java, command

#393 Python: added FLUSHDB command
  python/python/glide/async_commands/cluster_commands.py
  python/python/glide/async_commands/standalone_commands.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python, command

#394 Java: Add `SSCAN` command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/main/java/glide/api/models/commands/scan/SScanOptions.java
  java/client/src/main/java/glide/api/models/commands/scan/ScanOptions.java
  java/client/src/main/java/module-info.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java

#400 Java: add IT for pubsub
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/models/PubSubMessage.java
  java/client/src/main/java/glide/api/models/configuration/BaseSubscriptionConfiguration.java
  java/client/src/main/java/glide/connectors/handlers/MessageHandler.java
  java/client/src/main/java/glide/managers/ConnectionManager.java
  java/integTest/src/test/java/glide/PubSubTests.java
Labels: java
