Repository Bit-Quill/valkey-glide, pull requests merged in 2024-04, with the labels that each got.

#223 Java: Add `SAVE` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TestUtilities.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java, command

#225 Add `SDIFF` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java, command

#229 Python: Add `PFADD` command.
  CHANGELOG.md
  python/python/glide/async_commands/core.py
  python/python/glide/async_commands/transaction.py
  python/python/tests/test_async_client.py
  python/python/tests/test_transaction.py
Labels: python, command

#236 Core: Update data convertion for `SMISMEMBER`
  glide-core/src/client/value_conversion.rs
Labels: rust

#232 Node: Add `PFADD` command.
  CHANGELOG.md
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/RedisClient.test.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node, command

#242 Java: Add OBJECT FREQ command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java, command

#243 Java: Implement OBJECT IDLETIME command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java, command

#239 Java: Fix IT for `CONFIG REWRITE`.
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java

#244 Java: Implement OBJECT REFCOUNT command
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/cluster/ClusterTransactionTests.java
  java/integTest/src/test/java/glide/standalone/TransactionTests.java
Labels: java, command

#237 `LOLWUT`
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/RedisClient.java
  java/client/src/main/java/glide/api/RedisClusterClient.java
  java/client/src/main/java/glide/api/commands/ServerManagementClusterCommands.java
  java/client/src/main/java/glide/api/commands/ServerManagementCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/RedisClusterClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
  java/integTest/src/test/java/glide/cluster/CommandTests.java
  java/integTest/src/test/java/glide/standalone/CommandTests.java
Labels: java, command

#247 Add `RENAMENX` command.
  glide-core/src/client/value_conversion.rs
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/GenericBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java, command

#245 Add `HKEYS` command.
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/HashBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java, command

#252 Fix CI workflows.
  .github/workflows/build-node-wrapper/action.yml
  .github/workflows/build-python-wrapper/action.yml
  .github/workflows/csharp.yml
  .github/workflows/go.yml
  .github/workflows/install-shared-dependencies/action.yml
  .github/workflows/java.yml
  .github/workflows/node-create-package-file/action.yml
  .github/workflows/node.yml
  .github/workflows/npm-cd.yml
  .github/workflows/pypi-cd.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
Labels: CI

#248 Update examples in docs.
  node/src/BaseClient.ts
  node/src/Transaction.ts
Labels: documentation, node

#209 Java: Add `BZPOPMIN` command.
  glide-core/src/protobuf/redis_request.proto
  glide-core/src/request_type.rs
  java/client/src/main/java/glide/api/BaseClient.java
  java/client/src/main/java/glide/api/commands/SortedSetBaseCommands.java
  java/client/src/main/java/glide/api/models/BaseTransaction.java
  java/client/src/test/java/glide/api/RedisClientTest.java
  java/client/src/test/java/glide/api/models/TransactionTests.java
  java/integTest/src/test/java/glide/SharedCommandTests.java
  java/integTest/src/test/java/glide/TransactionTestUtilities.java
Labels: java, command, blocked
