Repository Bit-Quill/valkey-glide, pull requests merged in 2024-07, with the labels that each got.

#309 Fix rust linter CI.
  .github/workflows/rust.yml
Labels: CI

#411 Node: implement LSET
  node/src/BaseClient.ts
  node/src/Commands.ts
  node/src/Transaction.ts
  node/tests/SharedTests.ts
  node/tests/TestUtilities.ts
Labels: node

#238 Split lint and testing in CI + add reporting.
  .github/workflows/python.yml
  python/.gitignore
  python/requirements.txt
Labels: python, CI
